[submodule "Grado/AA"]
	path = Grado/AA
	url = git@github.com:mikel00per/AA.git
[submodule "Grado/AC"]
	path = Grado/AC
	url = git@github.com:mikel00per/AC.git
[submodule "Grado/DDSI"]
	path = Grado/DDSI
	url = git@github.com:mikel00per/DDSI.git
[submodule "Grado/DIU19"]
	path = Grado/DIU19
	url = git@github.com:mikel00per/DIU19.git
[submodule "Grado/EC"]
	path = Grado/EC
	url = git@github.com:mikel00per/EC.git
