[submodule "Grado/AA"]
	path = Grado/AA
	url = git@github.com:mikel00per/AA.git
[submodule "Grado/AC"]
	path = Grado/AC
	url = git@github.com:mikel00per/AC.git
[submodule "Grado/DDSI"]
	path = Grado/DDSI
	url = git@github.com:mikel00per/DDSI.git
[submodule "Grado/DIU19"]
	path = Grado/DIU19
	url = git@github.com:mikel00per/DIU19.git
[submodule "Grado/EC"]
	path = Grado/EC
	url = git@github.com:mikel00per/EC.git
[submodule "Grado/ED"]
	path = Grado/ED
	url = git@github.com:mikel00per/ED.git
[submodule "Grado/FR"]
	path = Grado/FR
	url = git@github.com:mikel00per/FR.git
[submodule "Grado/IA"]
	path = Grado/IA
	url = git@github.com:mikel00per/IA.git
[submodule "Grado/IC"]
	path = Grado/IC
	url = git@github.com:mikel00per/IC.git
[submodule "Grado/IG"]
	path = Grado/IG
	url = git@github.com:mikel00per/IG.git
[submodule "Grado/ISE"]
	path = Grado/ISE
	url = git@github.com:mikel00per/ISE.git
[submodule "Grado/MC"]
	path = Grado/MC
	url = git@github.com:mikel00per/MC.git
[submodule "Grado/MH"]
	path = Grado/MH
	url = git@github.com:mikel00per/MH.git
[submodule "Grado/MP"]
	path = Grado/MP
	url = git@github.com:mikel00per/MP.git
[submodule "Grado/PDM"]
	path = Grado/PDM
	url = git@github.com:mikel00per/PDM.git
[submodule "Grado/PPR"]
	path = Grado/PPR
	url = git@github.com:mikel00per/PPR.git
[submodule "Grado/RI"]
	path = Grado/RI
	url = git@github.com:mikel00per/RI.git
[submodule "Grado/SCD"]
	path = Grado/SCD
	url = git@github.com:mikel00per/SCD.git
[submodule "Grado/SO"]
	path = Grado/SO
	url = git@github.com:mikel00per/SO.git
[submodule "Grado/SWAP"]
	path = Grado/SWAP
	url = git@github.com:mikel00per/SWAP.git
[submodule "Grado/TSI"]
	path = Grado/TSI
	url = git@github.com:mikel00per/TSI.git
